{% extends "masterpage.html" %}
{% block connect %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apartment.css' %}">
<html lang="en">

<head>
  <title>{{ apart.price }}</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
   {%for apart in apart %}
        {{apart}}
    <li>{{ apart.price }}</il>
    <div class="wrapper">
    <div class="product-img">
        <img src="{{apart.img.url}}" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{apart.area}}</h1>
        <h2>Apartments for syudents</h2>
        <p>{{apart.content}}
    </div>
      <div class="product-price-btn">
        <p><span>{{apart.price}}</span>$</p>
        <button type="button">Show</button>
      </div>
    </div>
  </div>
   {% endfor %}
 

</body>

</html>
{% endblock connect%}